.card{
    padding: 1rem;
    width: 49%;
    background-color: var(--color-theme-medium);
    position: relative;
    color: var(--color-theme-light-2);
    margin-bottom: .8rem;
    &:hover{
        background-color: lighten(#204a60, 5%);
    }
    &__img{
        border-radius: 50%;
        width: 40%;
        object-fit: contain;
        object-position: center;
        margin-bottom: 1.5rem;
    }
    &__title{
        color: #fff;
        margin-bottom: .7rem;
        text-transform: capitalize;

    }
    
    p:not(:last-child){
        margin-bottom: .3rem;
    }
    
    &__favorite{
        position: absolute;
        top: 0;
        right: .7rem;
        display: flex;
        justify-content: center;
        padding-top: 4px;
        width: 1.5rem;
        height: 2.5rem;
        background-color: var(--color-red);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 78%, 0 100%);
        cursor: pointer;

        .favorite-icon{
            width: 1.1rem;
            height: 1.1rem;
            fill: white;
        }
    }
}



