:root{
    --color-theme-light: #4b89ab;
    --color-theme-light-2: #7198ac;
    --color-theme-medium: #204a60;
    --color-theme-dark: #16313e;
    --color-theme-dark-2: #193849;
    --color-theme-popup: #000000a6;
    --color-red: #f64341;
    --color-yellow: #ffd700;
    --color-green: #adff2f;
    --color-orange: #f17e20;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.2rem;
    font-family: sans-serif;
    @media screen and (min-width:400px) {
        font-size: 1.4rem;
    }
}

.App{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    background-color: var(--color-theme-dark);
    height: 100vh;
    overflow: hidden;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

::-webkit-scrollbar{
    width: 3px;
    &-track{
        background: var(--color-theme-dark)
    }
    
    &-thumb {
        display: none;
        border-radius: 20px;
        background: var(--color-theme-light-2);
    }
}